html {
    height: 100%;
    margin: 0;
    background-color: rgb(56, 133, 138);
    color: white;
    font-size: 35px;
}
body {
    margin: 0;
}

.container {
    display: flex;
    flex: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: calc(100vh - 200px);
}

.rock {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}

.bttContainer>* {
    margin-right: 20px;
}

.score {
    display: flex;
}

button {
    height: 100px;
    width: 100px;
    font-size: 75px;
    background-color: grey;
    border: 0;
}
.icon   {
    width: 40px;
    height: 40px;
    background-color: black;
    border-radius: 50% ;
    margin-right: 10px;
    object-fit: cover;
}
h6  {
    height: 40px;
    margin-top: 0;
    padding-left: 10px;
}
header {
    display: flex;
    background-color: #333;
    color: white;
    padding: 10px 0;
    width: 100%;
    height: 40px;
    justify-content: space-between;
}
